@model o.Models.tarla

@{
    ViewData["Title"] = "Edit";
}

<h1>Düzenle</h1>

<h4>tarla</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tarlaId" />
            <div class="form-group">
                <label asp-for="TarlaAdı" class="control-label"></label>
                <input asp-for="TarlaAdı" class="form-control" />
                <span asp-validation-for="TarlaAdı" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TarlaGenislik" class="control-label"></label>
                <input asp-for="TarlaGenislik" class="form-control" />
                <span asp-validation-for="TarlaGenislik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tarlaBolge" class="control-label"></label>
                <input asp-for="tarlaBolge" class="form-control" />
                <span asp-validation-for="tarlaBolge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">kayıt Listesine Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
