@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
   
<div class= "hepsi">
<div class="w3-content w3-container w3-padding-64" id="about">
 
    
    <h1 class="w3-jumbo w3-animate-top">Bu Kış Büyük İşler</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
     <p class="w3-large">Kış Yüzünden Gelen Karla Ekinlerinin Harap Olmasın</p>
    <p class="w3-large w3-center #FFA8776A">Ekin Stock Ve Takip Programı</p>
</div>
</div>
</div>



<style>

body{
  background-image: url('video/kıs1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  z-index: -1;
}
#text-center{
    margin-top: 5cm;
}
#hepsi{
    margin-top:5cm;
}
</style>
