@{
    ViewData["Title"] = "Sayfa Hakkında";
}
<h1>@ViewData["Title"]</h1>

<p>Bu sayfa HakkındaOlan Bilgileri İçerir: 


    Geliştirilen Bu web sitesinin amacı bilgiyi tutup kendi içinde stocklaması ve Bilgiyi Yaralı Bir şekilde Sunmasıdır.
</p>
